# GEMINI CONFIG
GEMINI_API_KEYS=key1,key2,key3

# TELEGRAM CONFIG
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_ADMIN_ID=your_id
TELEGRAM_DATABASE_CHANNEL_ID=your_channel_id

# DATABASE CONFIG
MONGO_URI=your_mongodb_atlas_uri
